@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-primary-pressed: #4338ca;

  --color-text: #0f172a;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;
  --color-accent: #14b8a6;

  --color-secondary: #ede8f2;
  --color-secondary-hover: #52525b;
  --color-secondary-pressed: #3f3f46;

  --color-accent: #5eead4;
  --color-accent-hover: #2dd4bf;
  --color-accent-pressed: #14b8a6;

  --color-warning: #ff0000;
  --color-warning-hover: #d97706;
  --color-warning-pressed: #b45309;

  --color-input-background: #f1f1f1;

  --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui;
}
